# Omit files and folders when repository is downloaded.
.gitattributes export-ignore
.gitignore export-ignore
/node_modules export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/src/wpzoom-blocks export-ignore
/src/helpers export-ignore
/src/blocks.js export-ignore
/src/common.scss export-ignore