# Omit files and folders when repository is downloaded.
.gitattributes export-ignore
.gitignore export-ignore
/node_modules export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/src/wpzoom-blocks export-ignore
/src/helpers export-ignore
/src/utils export-ignore
/src/blocks.js export-ignore
/src/icon.js export-ignore
/src/common.scss export-ignore
/src/__mixins.scss export-ignore
/src/amp.scss export-ignore
/src/colors.scss export-ignore

# Directories
/.wordpress-org export-ignore
/.github export-ignore

# Files
.eslintrc.json export-ignore
.distignore export-ignore
.eslintignore export-ignore
.editorconfig export-ignore
.phpcs.xml.dist export-ignore
composer.json export-ignore
composer.lock export-ignore
phpstan.neon.dist export-ignore
