#Ignore folder node_modules
/node_modules

#Ignore uneeded files
/.editorconfig
/.eslintignore
/.eslintrc.json
/package-lock.json
/package.json

#Ignore Custom Components
/src/components/food-icons/index.js
/src/components/food-icons/svg/*.svg

#/src/wpzoom-blocks

#Ignore PRO Blocks
/src/pro-version
