/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-wpzoom-recipe-card-block-recipe-card {
	position: relative;

	&.is-loading-block {
		> *:not(.wpzoom-recipe-card-loading-spinner) {
			display: none;
		}
	}
	.components-placeholder.recipe-card-image-placeholder {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&.recipe-card-noimage .components-placeholder.recipe-card-image-placeholder {
		display: none;
	} 

	&.is-style-simple {
		.recipe-card-image-placeholder,
		.recipe-card-image-preview {
			margin-top: 0;
			margin-bottom: 0;
	        float: left;
	        width: 40%;
	        text-align: left;
	    }
	    .recipe-card-image-preview .recipe-card-image {
	    	width: 100%;
	    	float: none;
	    }
	    &.header-content-align-right {
	    	.recipe-card-image-preview .recipe-card-image {
	    		width: 100%;
		    	float: none;
	    	}
	    	.recipe-card-image-placeholder,
	    	.recipe-card-image-preview {
	    		float: right;
	    	}
	    }
	}
	
	.recipe-card-details {
		margin-bottom: 0;
		.details-items {
			.detail-item {
				> .detail-item-icon {
					display: block;
				}
				> div:nth-child(2) {
					display: block;
				}
				> div:nth-child(3), div:nth-child(4) {
					display: inline-block;
				}
				.detail-item-value,
				.detail-item-unit {
					padding: 0;
					margin-top: 0;
					text-align: left;
				}
				.components-base-control {
					display: inline-block;
					margin-right: 5px;
					.components-base-control__field {
						margin-bottom: 0;
						.components-text-control__input {
							width: 50px;
							font-size: 12px;
							padding: 3px 5px;
							min-height: auto;
							height: 26px;
						}
					}
				}
			}
		}
		+ p.description {
			margin-bottom: 10px !important;
		}
	}
	.ingredient-item {
		position: relative;
		list-style-type: none;
		.block-editor-rich-text__editable {
			display: inline-block;
			width: 93%;
		}
        .ingredient-item-group-title {
            font-weight: bold;
        }
	}

	.ingredients-list {
		> li {
			.ingredient-item-name {
				padding-left: 0 !important;
				&:hover {
				    text-decoration: none !important;
				}
			}
			.tick-circle {
				cursor: default !important;
			}
		}
	}

	&.block-alignment-right {
		.ingredients-list {
			> li {
				.ingredient-item-name {
					padding-right: 0 !important;
				}
			}
		}
	}

	// this is used to prevent floating elements on editing
	&.is-style-newdesign {
		.ingredients-list.layout-2-columns {
			columns: 1 !important;
		    -webkit-columns: 1 !important;
		    -moz-columns: 1 !important;
		}
	}
	&.is-style-default,
	&.is-style-newdesign,
	&.is-style-simple, {
		.ingredients-list > li {
			cursor: text !important;
		}
		.recipe-card-summary {
			margin-top: 0;
		}
	}
	.ingredient-item-button-container {
		text-align: right;
		button {
			display: inline-flex;
		}
	}
	.ingredient-buttons {
		text-align: center;
		button {
			display: inline-flex;
		}
	}
	.ingredient-item-button-container button.ingredient-item-button-delete:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		color: #a00;
	}
	.directions-list > li {
		&::before {
			left: 10px;
			top: 6px;
		}
	}
	.direction-step {
		.direction-step-group-title {
			font-weight: bold;
		}
	}
	.direction-step-button-container {
		text-align: right;
		button {
			display: inline-flex;
		}
	}
	.direction-buttons {
		text-align: center;
		button {
			display: inline-flex;
		}
	}
	.direction-step-button-container button.direction-step-button-delete:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		color: #a00;
	}

	p.help,
	p.description {
		font-size: 13px;
		opacity: 0.7;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.components-icon-button .dashicon + .components-icon-button-text {
		margin-left: 5px;
	}
	.recipe-card-video .components-placeholder__instructions {
		display: block;
	}
}

.wpzoom-recipe-card-video-settings {
	.editor-video__recipe-card .components-button + .components-button {
		margin-top: 1em;
		margin-right: 8px;
	}
	.editor-video__url-input-container {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
}
.wpzoom-recipe-card-settings .components-base-control__label,
.wpzoom-recipe-card-seo-settings .components-base-control__label,
.wpzoom-recipe-card-details .components-base-control__label,
.wpzoom-recipe-card-structured-data-testing .components-base-control__label {
	font-weight: 500;
	+ .components-toggle-control {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.wpzoom-recipe-card-details {
	.components-panel__row {
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e2e4e7;

		&:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}
		
		.components-base-control:nth-child(1) {
			width: 100%;
			clear: both;
			margin-bottom: 10px !important;
		}
		.components-base-control:nth-child(2) {
			padding-right: 5px;
		}
		.components-base-control:nth-child(3) {
			padding-left: 5px;
		}
		.components-base-control:nth-child(2),
		.components-base-control:nth-child(3) {
			width: 50%;
			display: inline-block;
		}
		.components-base-control {
			margin-bottom: 0;
			.components-base-control__field {
				margin-bottom: 0;
			}
			.components-base-control__label {
				max-width: 90%;
				font-weight: 500;
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
		.editor-calculate-total-time {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
	.components-base-control.components-toggle-control {
		margin-bottom: 10px;
	}
	.components-notice {
		margin: 5px 0;
		.components-notice__content {
			margin-right: 0;
			p:last-child {
				margin-bottom: 0;
			}
		}
		&.is-dismissible {
			padding: 8px;
		}
	}
}
.wpzoom-recipe-card-custom-details {
	.components-panel__row {
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e2e4e7;

		&:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}

		.components-base-control:nth-child(1) {
			width: 100%;
			clear: both;
			margin-bottom: 10px !important;
		}
		.components-base-control:nth-child(2) {
			padding-right: 5px;
		}
		.components-base-control:nth-child(3) {
			padding-left: 5px;
		}
		.components-base-control:nth-child(2),
		.components-base-control:nth-child(3) {
			width: 50%;
			display: inline-block;
		}
		.components-base-control {
			margin-bottom: 0;
			.components-base-control__field {
				margin-bottom: 0;
			}
			.components-base-control__label {
				max-width: 90%;
				font-weight: 500;
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
			&.components-toggle-control {
				margin-top: 20px;
				.components-base-control__help {
					margin-top: 10px;
				}
			}
		}
	}
}
.wpzoom-recipe-card-settings .components-base-control__help,
.wpzoom-recipe-card-seo-settings .components-base-control__help,
.wpzoom-recipe-card-details .components-base-control__help,
.wpzoom-recipe-card-structured-data-testing .components-base-control__help {
	margin-top: 0;
}

.wpzoom-recipe-card-seo-settings .components-panel__row .components-base-control,
.wpzoom-recipe-card-details .components-panel__row .components-base-control {
	margin-bottom: 0;
}
.wpzoom-recipe-card-seo-settings .components-panel__row .components-base-control + span,
.wpzoom-recipe-card-details .components-panel__row .components-base-control + span {
	margin-top: 1.25em;
}

.wpzoom-recipe-card-structured-data-testing {
	.text-color-red {
		color: #ff2725;
	}
	.text-color-orange {
		color: #ef6c00;
	}
	.text-color-green {
		color: #29a740;
	}
	.components-panel__row {
		strong {
			width: 60%;
			word-break: break-word;
		}
	}
	.components-notice {
		margin: 5px 0;
		.components-notice__content p:last-child {
			margin-bottom: 0;
		}
	}
}

#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card .detail-item-label {
	font-weight: bold;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card p:not(.description) {
	margin-top: 0;
	margin-bottom: 0;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card ul,
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card ol {
	margin: 0;
	padding: 0;
}

.wpzoom-recipe-card-extra-options {
	.form-group {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ededed;
		&:last-child {
			border-bottom: 0;
			text-align: right;
		}
		.wrap-label {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ededed;
			label {
				font-size: 18px;
				font-weight: 500;
				line-height: 1.4em;
				margin-bottom: 5px;
				display: block;
			}
			.description {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.wrap-content {
			.bulk-add-unordered-list,
			.bulk-add-ordered-list {
				padding: 10px;
				border: 1px solid #acacac;
				border-radius: 3px;
				height: 150px;
				overflow-x: scroll;
			}
			.bulk-add-unordered-list {
				margin-bottom: 15px;
				li {
					list-style-type: disc;
					margin-left: 20px;
				}
			}
			.bulk-add-ordered-list {
				li {
					list-style-type: decimal;
					margin-left: 20px;
				}
			}
		}
		button {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.bulk-add-enter-ingredients label,
	.bulk-add-enter-directions label {
		font-size: 14px;
		font-weight: bold;
	}
	.bulk-add-warning-alert,
	.bulk-add-danger-alert {
		font-style: normal;
		background: #ffe9e9;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #ff9090;
		color: #c00000;
	}
	.bulk-add-warning-alert {
		background: #fef5da;
		border-color: #fac937;
		color: #a87f04;
	}
}

.components-toolbar {
	button.wpzoom-recipe-card__extra-options {
		&.is-large {
			margin: 0 5px;
		}
		&.components-icon-button.is-primary:hover {
			background: #007eb1;
			border-color: #00435d;
			color: #fff;
			box-shadow: inset 0 -1px 0 #00435d;
		}
	}
}
.components-button svg[size="24"] {
	width: 24px;
	height: 24px;
}

.wpzoom-recipe-card-settings {
	.components-button {
		&.editor-post-featured-image__preview {
			padding: 0;
			margin: 0;
			border: none;
			outline: none;
			height: 100%;
			line-height: 0;
		}
	}
	.components-button-group {
		display: block;
	}
}
.wpzoom-recipe-card-styles,
.wpzoom-recipe-card-color-scheme,
.wpzoom-recipe-card-settings,
.wpzoom-recipe-card-video-settings,
.wpzoom-recipe-card-food-labels,
.wpzoom-recipe-card-seo-settings,
.wpzoom-recipe-card-details,
.wpzoom-recipe-card-custom-details,
.wpzoom-recipe-card-structured-data-testing {
	.components-panel__body-toggle {
		&.components-button {
			display:flex;
			flex-direction:row-reverse;
			justify-content:flex-end;
		}
		svg.components-panel__icon {
			width:20px;
			height:20px;
			margin:0 10px 0 0;
			fill: rgb(46, 165, 95);
		}
	}
	
}