/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 // Define variables
 $primary-color: #E1581A;
 $secondary-color: #f34b00;

.wp-block-wpzoom-recipe-card-block-recipe-card {
	position: relative;

	&.is-loading-block {
		> *:not(.wpzoom-recipe-card-loading-spinner) {
			display: none;
		}
	}
	.components-placeholder.recipe-card-image-placeholder {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&.recipe-card-noimage .components-placeholder.recipe-card-image-placeholder {
		display: none;
	} 

	&.is-style-simple {
		.recipe-card-image-placeholder,
		.recipe-card-image-preview {
			margin-top: 0;
			margin-bottom: 0;
	        float: left;
	        width: 40%;
	        text-align: left;
	    }
	    .recipe-card-image-preview .recipe-card-image {
	    	width: 100%;
	    	float: none;
	    }
	    &.header-content-align-right {
	    	.recipe-card-image-preview .recipe-card-image {
	    		width: 100%;
		    	float: none;
	    	}
	    	.recipe-card-image-placeholder,
	    	.recipe-card-image-preview {
	    		float: right;
	    	}
	    }
	}
	
	.recipe-card-details {
		margin-bottom: 0;
		.details-items {
			.detail-item {
				> .detail-item-icon {
					display: block;
				}
				> div:nth-child(2) {
					display: block;
				}
				> div:nth-child(3), div:nth-child(4) {
					display: inline-block;
				}
				.detail-item-value,
				.detail-item-unit {
					padding: 0;
					margin-top: 0;
					text-align: left;
				}
				.components-base-control {
					display: inline-block;
					margin-right: 5px;
					.components-base-control__field {
						margin-bottom: 0;
						.components-text-control__input {
							width: 50px;
							font-size: 12px;
							padding: 3px 5px;
							min-height: auto;
							height: 26px;
						}
					}
				}
			}
		}
		+ p.description {
			margin-bottom: 10px !important;
		}
	}
	.ingredient-item {
		position: relative;
		list-style-type: none;
        display: flex;

		.block-editor-rich-text__editable {
			display: inline-block;
			width: 75%;
		}
        .ingredient-item-group-title {
            font-weight: bold;
        }
	}

	.ingredients-list {
		> li {
			.ingredient-item-name {
				padding-left: 0 !important;
				&:hover {
				    text-decoration: none !important;
				}
			}
			.tick-circle {
				cursor: default !important;
                display: none !important;
			}
		}
	}

	&.block-alignment-right {
		.ingredients-list {
			> li {
				.ingredient-item-name {
					padding-right: 0 !important;
				}
			}
		}
	}

	// this is used to prevent floating elements on editing
	&.is-style-newdesign {
		.ingredients-list.layout-2-columns {
			columns: 1 !important;
		}
	}
	&.is-style-default,
	&.is-style-newdesign,
	&.is-style-simple, {
		.ingredients-list > li {
			cursor: text !important;
		}
		.recipe-card-summary {
			margin-top: 0;
		}
	}

    &.is-style-default {
        .ingredients-list > li {
            padding: 0 !important;
            min-height: 37px;
        }
    }

	.ingredient-item-button-container {
		display:none;
		text-align: right;
		button {
			display: inline-flex;
            padding: 2px !important;
            min-width: 30px !important;
            height: 30px;
		}
	}
	.ingredient-buttons {
		text-align: center;
		button {
			display: inline-flex;
		}
	}
	.ingredient-item-button-container button.ingredient-item-button-delete:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		color: #a00;
	}
	.ingredient-item:focus {
		outline:none;
	}
	.ingredient-item:focus-within .ingredient-item-button-container {
		display:flex;
	}
	.directions-list > li {
		&::before {
			left: 10px;
			top: 6px;
		}
	}
	.direction-step {
		.direction-step-group-title {
			font-weight: bold;
		}
	}
	.direction-step-button-container {
		display:none;
		text-align: right;
		button {
			display: inline-flex;
		}
	}
	.direction-buttons {
		text-align: center;
		button {
			display: inline-flex;
		}
	}
	.direction-step-button-container button.direction-step-button-delete:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		color: #a00;
	}
	.direction-step:focus {
		outline: none;
	}
	.direction-step:focus-within .direction-step-button-container {
		display:block;
	}

	p.help,
	p.description {
		font-size: 13px;
		opacity: 0.7;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.components-icon-button .dashicon + .components-icon-button-text {
		margin-left: 5px;
	}
	.recipe-card-video .components-placeholder__instructions {
		display: block;
	}
}

.wpzoom-recipe-card-video-settings {
	.editor-video__recipe-card .components-button + .components-button {
		margin-top: 1em;
		margin-right: 8px;
	}
	.editor-video__url-input-container {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
}
.wpzoom-recipe-card-settings .components-base-control__label,
.wpzoom-recipe-card-seo-settings .components-base-control__label,
.wpzoom-recipe-card-details .components-base-control__label,
.wpzoom-recipe-card-structured-data-testing .components-base-control__label {
	font-weight: 500;
	+ .components-toggle-control {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
.wpzoom-recipe-card-details {
	.components-panel__row {
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e2e4e7;

		&:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}
		
		.components-base-control:nth-child(1) {
			width: 100%;
			clear: both;
			margin-bottom: 10px !important;
		}
		.components-base-control:nth-child(2) {
			padding-right: 5px;
		}
		.components-base-control:nth-child(3) {
			padding-left: 5px;
		}
		.components-base-control:nth-child(2),
		.components-base-control:nth-child(3) {
			width: 50%;
			display: inline-block;
		}
		.components-base-control {
			margin-bottom: 0;
			.components-base-control__field {
				margin-bottom: 0;
			}
			.components-base-control__label {
				max-width: 90%;
				font-weight: 500;
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
		.editor-calculate-total-time {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
	.components-base-control.components-toggle-control {
		margin-bottom: 10px;
	}
	.components-notice {
		margin: 5px 0;
		.components-notice__content {
			margin-right: 0;
			p:last-child {
				margin-bottom: 0;
			}
		}
		&.is-dismissible {
			padding: 8px;
		}
	}
}
.wpzoom-recipe-card-custom-details {
	.components-panel__row {
		display: block;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e2e4e7;

		&:last-child {
			border: none;
			margin: 0;
			padding: 0;
		}

		.components-base-control:nth-child(1) {
			width: 100%;
			clear: both;
			margin-bottom: 10px !important;
		}
		.components-base-control:nth-child(2) {
			padding-right: 5px;
		}
		.components-base-control:nth-child(3) {
			padding-left: 5px;
		}
		.components-base-control:nth-child(2),
		.components-base-control:nth-child(3) {
			width: 50%;
			display: inline-block;
		}
		.components-base-control {
			margin-bottom: 0;
			.components-base-control__field {
				margin-bottom: 0;
			}
			.components-base-control__label {
				max-width: 90%;
				font-weight: 500;
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
			&.components-toggle-control {
				margin-top: 20px;
				.components-base-control__help {
					margin-top: 10px;
				}
			}
		}
	}
}
.wpzoom-recipe-card-settings .components-base-control__help,
.wpzoom-recipe-card-seo-settings .components-base-control__help,
.wpzoom-recipe-card-details .components-base-control__help,
.wpzoom-recipe-card-structured-data-testing .components-base-control__help {
	margin-top: 0;
}

.wpzoom-recipe-card-seo-settings .components-panel__row .components-base-control,
.wpzoom-recipe-card-details .components-panel__row .components-base-control {
	margin-bottom: 0;
}
.wpzoom-recipe-card-seo-settings .components-panel__row .components-base-control + span,
.wpzoom-recipe-card-details .components-panel__row .components-base-control + span {
	margin-top: 1.25em;
}

.wpzoom-recipe-card-structured-data-testing {
	.text-color-red {
		color: #ff2725;
	}
	.text-color-orange {
		color: #ef6c00;
	}
	.text-color-green {
		color: #29a740;
	}
	.components-panel__row {
		strong {
			width: 60%;
			word-break: break-word;
		}
	}
	.components-notice {
		margin: 5px 0;
		.components-notice__content p:last-child {
			margin-bottom: 0;
		}
	}
}

#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card .detail-item-label {
	font-weight: bold;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card p:not(.description) {
	margin-top: 0;
	margin-bottom: 0;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card ul,
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-recipe-card ol {
	margin: 0;
	padding: 0;
}

.wpzoom-recipe-card-extra-options {
	.form-group {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ededed;
		&:last-child {
			border-bottom: 0;
			text-align: right;
		}
		.wrap-label {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ededed;
			label {
				font-size: 18px;
				font-weight: 500;
				line-height: 1.4em;
				margin-bottom: 5px;
				display: block;
			}
			.description {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.wrap-content {
			.bulk-add-unordered-list,
			.bulk-add-ordered-list {
				padding: 10px;
				border: 1px solid #acacac;
				border-radius: 3px;
				height: 150px;
				overflow-x: scroll;
			}
			.bulk-add-unordered-list {
				margin-bottom: 15px;
				li {
					list-style-type: disc;
					margin-left: 20px;
				}
			}
			.bulk-add-ordered-list {
				li {
					list-style-type: decimal;
					margin-left: 20px;
				}
			}
		}
		button {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.bulk-add-enter-ingredients label,
	.bulk-add-enter-directions label {
		font-size: 14px;
		font-weight: bold;
	}
	.bulk-add-warning-alert,
	.bulk-add-danger-alert {
		font-style: normal;
		background: #ffe9e9;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #ff9090;
		color: #c00000;
	}
	.bulk-add-warning-alert {
		background: #fef5da;
		border-color: #fac937;
		color: #a87f04;
	}
}

.components-toolbar {
	button.wpzoom-recipe-card__extra-options {
        color: #fff !important;
		&.is-large {
			margin: 0 5px;
		}
		&.components-icon-button.is-primary:hover {
			background: #007eb1;
			border-color: #00435d;
			color: #fff !important;
			box-shadow: inset 0 -1px 0 #00435d;
		}
	}
}
.components-button svg[size="24"] {
	width: 24px;
	height: 24px;
}

.wpzoom-recipe-card-settings {
	.components-button {
		&.editor-post-featured-image__preview {
			padding: 0;
			margin: 0;
			border: none;
			outline: none;
			height: 100%;
			line-height: 0;
		}
	}
	.components-button-group {
		display: block;
	}
}
.wpzoom-recipe-card-styles,
.wpzoom-recipe-card-color-scheme,
.wpzoom-recipe-card-settings,
.wpzoom-recipe-card-video-settings,
.wpzoom-recipe-card-food-labels,
.wpzoom-recipe-card-seo-settings,
.wpzoom-recipe-card-details,
.wpzoom-recipe-card-custom-details,
.wpzoom-recipe-card-structured-data-testing {
	.components-panel__body-toggle {
		&.components-button {
			display:flex;
			flex-direction:row-reverse;
			justify-content:flex-end;
		}
		svg.components-panel__icon {
			width:20px;
			height:20px;
			margin:0 10px 0 0;
			fill: rgb(46, 165, 95);
		}
	}
	
}


// Styles for AI button
.ai-button {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 14px 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
  margin-left: auto !important;
  display: block;
  border-radius: 5px;
  font-weight: 600 !important;
  padding: 15px 20px 35px 20px !important;

  &:hover {
    background-color: $primary-color;
    color: white !important;

    svg path {
      fill: white;
    }
  }

  svg {
    margin-right: 10px;
  }
}

// Styles for popup overlay
.popup-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background: #00000055;
  transform: none !important;
  width: 100%;
  height: 100%;
  z-index: 999;
}

// Styles for popup content
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px 60px;
  border: 2px solid #F2F4F6;
  border-radius: 10px;
  width: 570px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 18px;
    color: #041728;
    margin-top: 35px;
    font-weight: 600;
  }

  ul li {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: $primary-color;
  }

  input[type="text"] {
    font-size: 20px;
    color: var(--rcb-dark, #041728);
    padding: 10px 10px 10px 70px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    border: 1px solid #7C848A;
    width: 440px;
    height: 47px;
    border: 1px solid var(--rcb-grey, #7C848A);
    background: var(--white, #FFF);
  }
}


// Styles for submit button
.submit-button {
  font-size: 22px;
  background-color: $secondary-color !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 500;
  width: 440px;
  padding: 14px;
  justify-content: center;
  border-radius: 5px;
  background: var(--main-color, #E1581A);

  &:hover {
    background-color: darken($secondary-color, 10%) !important;
  }

  span {
    display: flex;
    align-items: center;

    svg {
      height: 26px;
      width: 26px;
      margin-right: 16px;
    }
  }
}

.manual-button {
  width: fit-content;
  margin-left: auto !important;
  display: block;
  color: #7C848A;
  border: 2px solid #7C848A;
  background-color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px !important;
}

.components-button {

  &.ai-button {
    position: relative;

    span.btn-svg {
      position: absolute;
      top: 8px;
    }

    span.btn-text {
      padding-left: 20px;
      font-size: 15px;
      font-weight: 500;
    }
  }

  &.regenerate-recipe-button {
    padding: 0 0 0 0;
    font-size: 14px;
    font-weight: 600;

    span.btn-text {
      color: $primary-color;
      font-size: 12px;
      font-weight: 600;
    }

    span.btn-svg {
      margin: 0 5px 0 0;
    }
  }
}

.svg-input {
  position: relative;

  span {
    svg {
      position: absolute;
      top: 14px;
      left: 20px;
    }
  }
}

.Content-suggestions {
  text-align: center;
  h4 {
    color: #041728;
    font-size: 15px;
    margin: 25px 0 15px 0;
    opacity: 1;
    text-align: left;
  }

  ul {
    text-align: left;

    li {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  z-index: 9999; /* Ensure it's above other elements */

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-placeholder,
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-preview,
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999; /* Ensure it's on top */
}
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-placeholder,
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-preview {
  position: relative;
  min-height: 200px;
  box-shadow: none;
}
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-placeholder div,
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-preview div {
  display: none;
}
.recipe-image-placeholder-wrapper .loader {
  position:absolute;
}
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-placeholder::after,
.wp-block-wpzoom-recipe-card-block-recipe-card.image-loader .recipe-card-image-preview::after,
.loader::after {
  content: "";
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey */
  border-top: 4px solid #E1581A; /* Orange */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.wp-block-wpzoom-recipe-card-block-recipe-card {
  &.is-style-default {
    .recipe-card-image-preview {
      .recipe-card-image {
        margin: 10px 0;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#inspector-text-control-0:focus {
  border: 1px solid var(--rcb-grey, #7C848A);
}

#inspector-text-control-0::placeholder {
  color: #c4b8b8;
}

.manual-button:active, .manual-button:hover {
  border-radius: 5px;
  border: 2px solid var(--rcb-grey, #7C848A);
  color: #7C848A
}

.components-button.ai-button span.btn-text {
  font-weight: 600 !important;
  padding-left: 28px;
}

.components-button.ai-button span.btn-svg {
  top: 15px;
}

.use-recipe-image-prompt {
  margin: 0 0 25px 0;
}

.use-recipe-image-prompt .components-checkbox-control__input[type=checkbox]:checked,
.use-recipe-image-prompt .components-checkbox-control__input[type=checkbox]:indeterminate {
  background-color: $primary-color;
  border-color: $primary-color;
}


.wp-block {

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-simple .recipe-card-header-wrap {
      margin-top: 20px !important;
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .recipe-card-image {
        margin-top: 20px;
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-mint .recipe-card-header-container {
      margin-top: 20px !important;
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-mint {

        .ai-button {
            margin-right: auto !important;
            margin-left: 0 !important;
        }

    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-accent-color-header .recipe-card-header-container {
      margin-top: 20px !important;
    }

}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 26px;
  height: 26px;
  background-color: #f34b00;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  border-radius: 20px;
  padding: 0 4px 1px 5px;
  border: none;

  span {
    margin: 1px 1px 0 0;
  }
}


.submit-button {
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.submit-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.calculate-nutr{
    background-color: white;
    color: #E1581A;
    border: 2px solid #E1581A;
    cursor: pointer;
    -o-transition: background-color 0.3s, color 0.3s;
    margin-left: auto !important;
    display: block;
    border-radius: 5px;
    font-weight: 600 !important;
    padding: 10px 30px 30px 30px !important;
    margin-right: 100px;
    font-size: 15px;
}
.popup-content-error{
  border-radius: 6px !important;
  width: 475px;
  padding: 0;
}
.popup-content-error h4{
  border-radius: 0px !important;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
}
.popup-content-error .error-close-btn{
  background: white;
  color: #8080809e;
  right: 20px;
  top: 15px;
}
.popup-content-error .error-close-btn span{
  font-size: 30px !important;
}
.popup-content-error .Content-suggestions p{
  text-align: center;
  font-size: 14px;
}
.popup-content-error .Content-suggestions{
  padding: 50px 30px 30px;
}
button.components-button.try-again,
.components-button.buyMore,
button.components-button.activate-license
{
    margin: 0 auto;
    display: block;
    background-color: #E1581A;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
    margin-top: 80px;
}
.popup-content-error a.try-again,
.components-button.buyMore,
.popup-content-error a.activate-license
{
  margin: 0 auto;
  display: block;
  background-color: #E1581A;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}
.components-button.buyMore:active {
    color: #fff;
}

.components-button.buyMore:hover {
     background-color: #000 !important;
}
.popup-content-error a.activate-license,
button.components-button.activate-license
{
  margin-top: 0;
}
.popup-content-error a.try-again span.btn-text,
.popup-content-error a.activate-license span.btn-text
{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}
.popup-svg{
  width: 100px;
  display: block;
  margin: 0 auto;
  background: #ffe7d4;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

.popup-svg .error-svg{
  display: block;
  margin: 0 auto;
}
.popup-content-error .ai-credits-error{
  padding: 35px 35px 30px !important;
}
.popup-content-error a.ai-error{
  margin: 0px !important;
}
span.ai-error{
  width: 100%;
  display: block;
  padding: 30px 0px 30px 0px;
  margin-top: 40px;
  text-align: center;
}
span.ai-error a{
  text-align: center;
  color: #E1581A;
  font-size: 15px;
  text-decoration: underline;
}
p.ai-p{
  padding: 0px 20px 0px 20px;
}


@media only screen and (max-width: 640px) {

    .popup-content {
        width: 90%;
        padding: 7%;
    }

    .popup-content input[type="text"],
    .submit-button {
        width: 100%;
    }


}