/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-wpzoom-recipe-card-block-recipe-card {
	&.header-content-align-left {
		.recipe-card-heading {
			text-align: left;
		}
	}
	&.header-content-align-center {
		.recipe-card-heading {
			text-align: center;
		}
	}
	&.header-content-align-right {
		.recipe-card-heading {
			text-align: right;
		}
	}
	.recipe-card-heading .recipe-card-author {
		margin-bottom: 10px;
	}
	.recipe-card-image figure img {
		width: 100%;
	}
	.recipe-card-details {
		margin-bottom: 30px;
	}
	.recipe-card-ingredients {
		.ingredients-list {
			margin: 0;
			padding: 0;
		}
	}
	.recipe-card-image .wpzoom-recipe-card-print-link .btn-print-link i,
	.recipe-card-image .wpzoom-recipe-card-print-link .btn-print-link i::before ,
	.recipe-card-image .wpzoom-recipe-card-pinit .btn-pinit-link i,
	.recipe-card-image .wpzoom-recipe-card-pinit .btn-pinit-link i::before {
		font-family: 'FontAwesome';
	}
    .hidden {
        display: none !important;
    }

	.footer-copyright p {
		margin-bottom: 0;
		text-align: center;
		font-size: 14px;
		color: #ababab;
	}
}

@import "./skins/default";
@import "./skins/newdesign";
