/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

#wpadminbar #wp-admin-bar-edit-wpzoom-recipe > .ab-item:before {
    content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' style='fill:%2382878c' viewBox='0 0 32 32'%3E%3Ctitle%3Erecipe-cards%3C/title%3E%3Cpath d='M16.256 1.903c-2.895 0-5.457 1.653-6.813 4.277-3.598 0.031-6.38 3.186-6.38 6.994 0 2.715 1.454 5.154 3.679 6.297v8.467c0 0.873 0.659 1.629 1.53 1.629h15.495c0.872 0 1.53-0.756 1.53-1.629v-10.578c2.219-1.147 3.672-3.585 3.672-6.293 0-3.826-2.876-6.99-6.47-6.99-0.321 0-0.642 0.026-0.96 0.079-1.423-1.438-3.302-2.251-5.282-2.251zM11.816 8.467c0.704-2.022 2.452-3.307 4.439-3.307 1.4 0 2.671 0.641 3.584 1.826 0.394 0.51 1.048 0.724 1.651 0.517 0.33-0.113 0.669-0.17 1.007-0.17 1.853 0 3.409 1.647 3.409 3.733 0 1.706-1.060 3.175-2.54 3.598-0.683 0.196-1.132 0.852-1.132 1.573v4.355h-12.433v-2.247c0-0.721-0.45-1.38-1.136-1.574-1.479-0.419-2.542-1.887-2.542-3.597 0-2.053 1.578-3.736 3.371-3.736 0.196 0 0.394 0.021 0.588 0.062l0 0c0.751 0.157 1.477-0.299 1.732-1.032zM9.802 26.308v-2.459h12.433v2.459h-12.433z'%3E%3C/path%3E%3C/svg%3E%0A");
	font-size: 16px !important;
	top: 2px;

}

.wp-block-wpzoom-recipe-card-block-recipe-card {
    max-width: 750px;

    &.recipe-card-noimage {
        .recipe-card-image {
            display: none;
        }
    }
    &.header-content-align-left {
        .recipe-card-heading {
            text-align: left;
        }
    }
    &.header-content-align-center {
        .recipe-card-heading {
            text-align: center;
        }
    }
    &.header-content-align-right {
        .recipe-card-heading {
            text-align: right;
        }
    }

    // Block Alignment
    // @since 2.6.4
    &.is-style-default,
    &.is-style-newdesign,
    &.is-style-simple {
        &.block-alignment-left {
            margin-right: auto;
            .recipe-card-summary,
            .recipe-card-ingredients,
            .recipe-card-directions,
            .recipe-card-video,
            .recipe-card-notes {
                text-align: left;
            }
            .recipe-card-directions {
                .directions-list > li {
                    img {
                        margin-right: auto;
                    }
                }
            }
        }
        &.block-alignment-center {
            margin-left: auto;
            margin-right: auto;
        }
        &.block-alignment-right {
            margin-left: auto;
            .recipe-card-image {
                figure figcaption {
                    text-align: right;
                }
            }
            .recipe-card-summary,
            .recipe-card-ingredients,
            .recipe-card-directions,
            .recipe-card-video,
            .recipe-card-notes {
                text-align: right;
            }
            .recipe-card-ingredients {
                .ingredients-list {
                    > li .tick-circle {
                        float: right;
                        margin: 6px 0 0 10px;
                    }
                    .ingredient-item-name {
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
            }
            .recipe-card-directions {
                .directions-list > li {
                    padding-left: 0;
                    padding-right: 40px;
                    &::before {
                        left: auto;
                        right: 0;
                        margin-right: 0;
                        margin-left: 20px;
                    }
                    img {
                        margin-left: auto;
                    }
                }
            }
            .recipe-card-notes {
                .recipe-card-notes-list {
                    >li {
                        &::before {
                            left: auto;
                            right: -6px;
                        }
                    }
                }
            }
        }
    }
    &.is-style-simple {
        &.block-alignment-center {
            .recipe-card-image {
                figure figcaption {
                    text-align: left;
                }
            }
        }
        &.block-alignment-left {
            .recipe-card-image {
                figure figcaption {
                    text-align: left;
                }
            }
        }
    }

    .recipe-card-heading {
        .recipe-card-author {
            margin-bottom: 10px;
        }
        .recipe-card-title + p {
            margin-bottom: 0;
        }
        .wpzoom-recipe-card-print-link {

            display: inline-block;
            vertical-align: middle;
            float: right;
            border: 1px dashed rgba(0,0,0,0.1);
            padding: 5px;

            .btn-print-link {
                    display: block;
                    font-style: normal;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: #000;
                    border: none;
                    box-shadow: none;
                    transition: .2s ease opacity;

                    &:hover {
                        opacity:.8;
                    }

                    .wpzoom-rcb-icon-print-link {
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        vertical-align: middle;
                        fill: #000;
                    }
                    .wpzoom-rcb-print-icon {
                        font-size: $ultra-font-size;
                        margin-right: calc(#{ $grid-unit-15 / 2 });
                        vertical-align: middle;
                    }
                    span {
                        display:none;
                    }
                }
        }

        @include clear-after;
    }
    .recipe-card-image {
        figure {
            img {
                width: 100%;
            }
            figcaption {
                padding: 0;
                margin: 0;
            }
        }
        .wpzoom-recipe-card-pinit {
            .btn-pinit-link {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .wpzoom-recipe-card-print-link {
            .btn-print-link {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .recipe-card-video {
        margin-top: 20px;
        margin-bottom: 20px;
        video {
            max-width: 100%;
        }
        blockquote {
            border: none;
            font-size: 0;
            * {
                display: none;
            }

            iframe {
                display: block;
            }
        }
        [poster] {
            object-fit: cover;
        }
    }
    .recipe-card-details {
            margin-bottom: 15px;
            clear: both;
            .detail-item {
                position: relative;
                > p:not(.detail-item-label):not(.detail-item-value):not(.detail-item-unit) {
                    display: none;
                }
                .detail-item-label {
                    margin-bottom: 5px;
                }
                .detail-item-unit {
                    margin-bottom: 0;
                }

                .detail-item-input-wrapper {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                }

                .wpzoom-info-icon {
                    display: inline-block;
                    margin-left: 5px;
                    cursor: help;
                    vertical-align: text-bottom;
                    position: relative;

                    &:hover {
                        opacity: 0.8;
                    }

                    svg {
                        width: 12px;
                        height: 12px;
                        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
                        vertical-align: middle;
                    }
                }

                // Force tooltip to appear above
                .components-tooltip {
                    position: absolute !important;
                    bottom: 100% !important;
                    left: 50% !important;
                    transform: translateX(-50%) translateY(-4px) !important;
                    background: #333 !important;
                    color: white !important;
                    padding: 8px 12px !important;
                    border-radius: 4px !important;
                    font-size: 13px !important;
                    white-space: nowrap !important;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
                    z-index: 9999 !important;

                    &::before {
                        content: '' !important;
                        position: absolute !important;
                        bottom: -4px !important;
                        left: 50% !important;
                        transform: translateX(-50%) !important;
                        width: 0 !important;
                        height: 0 !important;
                        border-left: 5px solid transparent !important;
                        border-right: 5px solid transparent !important;
                        border-top: 5px solid #333 !important;
                    }
                }
            }
        }
    .recipe-card-ingredients {
        .ingredients-list {
            margin: 0;
            padding: 0;
            > li {
                padding-left: 0;
            }
            .ingredient-item-name {
                padding-left: 30px;
                margin: 0;
                vertical-align: middle;

                &.is-strikethrough-active:hover {
                    // text-decoration: line-through;
                }
            }
        }
    }
    .hidden {
        display: none !important;
    }

    .recipe-card-directions + .footer-copyright {
        margin-top: 30px;
    }

    .recipe-card-directions .directions-list .direction-step-group {
        counter-reset: count;
        &::before {
            content: '';
            counter-increment: none;
        }
    }

    .direction-step {
        img {
            display: block;
            clear: both;
        }
    }

    .footer-copyright p {
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ababab;

        a {
            color: #222222;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid #eee;

            &:hover {
                text-decoration: none;
                border-bottom-color: #ccc;
            }
        }
    }
}

@import "./skins/snippets";
@import "./skins/default";
@import "./skins/newdesign";
@import "./skins/simple";
