/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
$primary_color: #222;
$tick_color: #DEDAB6;
$ticked_color: #9AD093;
$meta_color: #a0a0a0;
$heading_color: #444;

$new_primary_color: #FFA921;
$new_tick_color: $new_primary_color;
$new_ticked_color: #9AD093;
$new_meta_color: #a0a0a0;
$new_heading_color: #444;

.wp-block-wpzoom-recipe-card-block-recipe-card {

    .hidden {
        display: none !important;
    }

    &.is-style-default {
        padding: 20px 30px;
        background: #ffffff;
        border: 1px solid #f5f5f5;
        .recipe-card-image {
            margin-top: -31px;
            margin-left: -31px;
            margin-right: -31px;
            margin-bottom: 30px;
            figure {
                position: relative;
                margin: 0;
                line-height: 0;
                img {
                    max-width: 100%;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;

                    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 35%);
                    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%);
                    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%);
                }
                figcaption {
                    position: absolute;
                    right: 20px;
                    left: 20px;
                    text-align: right;
                    bottom: 0;
                    padding-bottom: 10px;
                    z-index: 2;
                    line-height: 1.8;
                }
            }
            .wpzoom-recipe-card-print-link {
                display: inline-block;
                vertical-align: middle;
                .btn-print-link {
                    display: block;
                    border-radius: 3px;
                    height: 36px;
                    padding: 10px;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: $primary_color;
                    outline: 0;
                    .icon-print-link {
                        font-size: 18px;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    .icon-print-link + span {
                        font-size: 12px;
                        letter-spacing: 1.5px;
                    }
                }
            }
            .wpzoom-recipe-card-pinit {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                .btn-pinit-link {
                    cursor: pointer;
                    display: block;
                    border-radius: 3px;
                    height: 36px;
                    padding: 10px;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: #C62122;
                    outline: 0;
                    .icon-pinit-link {
                        font-size: 18px;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    .icon-pinit-link + span {
                        font-size: 12px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .recipe-card-heading {
            margin-bottom: 15px;
            padding-bottom: 15px;
            .recipe-card-title {
                font-size: 26px;
                margin: 0;
                line-height: 1.4em;
                color: $heading_color;
            }
            .recipe-card-author {
                display: block;
                color: $meta_color;
                font-size: 13px;
                font-weight: 600;
            }
            .recipe-card-course,
            .recipe-card-cuisine {
                margin-right: 10px;
            }
            .recipe-card-course, .recipe-card-cuisine, .recipe-card-difficulty {
                font-size: 13px;
                color: $meta_color;
                mark {
                    color: $heading_color;
                    background: transparent;
                }
            }
        }
        .details-items {
            .detail-item {
                float: left;
                width: 23%;
                margin-bottom: 5px;
                padding-right: 2%;
                margin-right: 2%;
                position: relative;

                .detail-item-label {
                    font-weight: bold;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                }
                .detail-item-icon span {
                    color: $primary_color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $primary_color;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #ededed;
                }
                &:last-child::after {
                    display: none;
                }
            }
            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }
        .recipe-card-summary {
            margin-bottom: 20px;
            margin-top: 10px;
        }

        .ingredients-title,
        .directions-title {
            font-size: 20px;
            font-weight: bold;
            color: $heading_color;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            margin: 0 0 5px;
        }

        .recipe-card-ingredients {
            position: relative;
            color: #736458;
            background-color: #FBF9E7;
            border-radius: 3px;
            margin: 0 0 20px;
            padding: 30px;
            text-align: left;
        }

        .ingredients-list {
            margin: 0;
            list-style: none;
            > li {
                list-style: none;
                padding: 0 0 13px;
                margin: 0 0 13px;
                border-bottom: 1px solid #e9e5c9;
                position: relative;
                cursor: pointer;
                line-height: 1.7;

                .ingredient-item-name {
                    font-size: 13px;
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                }
                
                &:hover  {
                    text-decoration: line-through;
                }

                .tick-circle {
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    width: 14px;
                    height: 14px;
                    margin: 7px 10px 0 0;
                    border-radius: 50%;
                    border: 2px solid $tick_color;
                    cursor: pointer;
                    position: relative;
                }

                &.ticked > p {
                    text-decoration: line-through;
                }

                &.ticked .tick-circle {
                    border: 2px solid $ticked_color !important;
                    background: $ticked_color;

                    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
                    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
                    box-shadow: inset 0px 0px 0px 2px #fff;
                }
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 30px;

                &::before {
                    counter-increment: count;
                    content: counter(count);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    font-family: "Roboto Condensed", sans-serif;
                    text-transform: uppercase;
                    line-height: 1.4;
                    width: 35px;
                    vertical-align: middle;
                    padding: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    font-size: 14px;
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
        }
    }

    &.is-style-newdesign {
        padding: 20px 30px;
        background: #ffffff;
        border: 1px solid #f5f5f5;
        .recipe-card-image {
            margin-top: -31px;
            margin-left: -31px;
            margin-right: -31px;
            margin-bottom: 30px;
            figure {
                position: relative;
                margin: 0;
                line-height: 0;
                img {
                    max-width: 100%;
                }
            }
            .wpzoom-recipe-card-print-link {
                position: absolute;
                right: 20px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;
                .btn-print-link {
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: $new_primary_color;
                    box-shadow: 0 5px 40px $new_primary_color;
                    outline: 0;
                    .icon-print-link {
                        display: block;
                        font-size: 18px;
                    }
                    .icon-print-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
            .wpzoom-recipe-card-pinit {
                position: absolute;
                right: 90px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;
                .btn-pinit-link {
                    cursor: pointer;
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: #C62122;
                    box-shadow: 0 5px 40px #C62122;
                    outline: 0;
                    .icon-pinit-link {
                        display: block;
                        font-size: 18px;
                    }
                    .icon-pinit-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .recipe-card-heading {
            margin-bottom: 15px;
            padding-bottom: 15px;
            .recipe-card-title {
                font-size: 26px;
                margin: 0;
                line-height: 1.4em;
                color: $new_heading_color;
            }
            .recipe-card-author {
                display: block;
                color: $new_meta_color;
                font-size: 13px;
                font-weight: 600;
            }
            .recipe-card-course,
            .recipe-card-cuisine {
                margin-right: 10px;
            }
            .recipe-card-course, .recipe-card-cuisine, .recipe-card-difficulty {
                font-size: 13px;
                color: $new_meta_color;
                mark {
                    color: $new_heading_color;
                    background: transparent;
                }
            }
        }
        .details-items {
            .detail-item {
                float: left;
                width: 25%;
                margin-bottom: 5px;
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                }
                .detail-item-icon span {
                    color: $new_primary_color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $new_primary_color;
                }
            }
            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }
        .recipe-card-summary {
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .recipe-card-ingredients {
            margin: 15px 0 15px;
            padding-top: 15px;
            border-top: 1px solid #f5f5f5;
        }
        .ingredients-title,
        .directions-title {
            font-size: 16px;
            font-weight: bold;
            color: $new_heading_color;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            margin: 0 0 5px;
        }

        .ingredients-list {
            margin: 0;
            list-style: none;
            > li {
                list-style: none;
                margin: 0 0 5px;
                position: relative;
                cursor: pointer;
                line-height: 1.7;

                .ingredient-item-name {
                    font-size: 13px;
                    display: inline-block;
                    margin: 0;
                    vertical-align: middle;
                }
                
                &:hover  {
                    text-decoration: line-through;
                }

                .tick-circle {
                    content: '';
                    display: inline-block;
                    vertical-align: top;
                    width: 14px;
                    height: 14px;
                    margin: 7px 10px 0 0;
                    border-radius: 50%;
                    border: 2px solid $new_tick_color;
                    cursor: pointer;
                    position: relative;
                }

                &.ticked > p {
                    text-decoration: line-through;
                }

                &.ticked .tick-circle {
                    border: 2px solid $new_ticked_color !important;
                    background: $new_ticked_color;

                    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
                    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
                    box-shadow: inset 0px 0px 0px 2px #fff;
                }
            }
            &.layout-2-columns {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 30px;

                &::before {
                    counter-increment: count;
                    content: counter(count);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    font-family: "Roboto Condensed", sans-serif;
                    text-transform: uppercase;
                    line-height: 1.4;
                    width: 35px;
                    vertical-align: middle;
                    padding: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    font-size: 14px;
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
        }
    }

}

.editor-block-list__block .ingredients-list > li:hover {
    text-decoration: none;
}

@media (max-width: 468px) {
    .wp-block-wpzoom-recipe-card-block-recipe-card {

        &.is-style-newdesign {
            .details-items .detail-item {
                float: left;
                width: 50%;
            }
        }
    }
}
