/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-wpzoom-recipe-card-block-recipe-card {
    max-width: 750px;

    &.recipe-card-noimage {
        .recipe-card-image {
            display: none;
        }
    }
    &.header-content-align-left {
        .recipe-card-heading {
            text-align: left;
        }
    }
    &.header-content-align-center {
        .recipe-card-heading {
            text-align: center;
        }
    }
    &.header-content-align-right {
        .recipe-card-heading {
            text-align: right;
        }
    }

    // Block Alignment
    // @since 2.6.4
    &.is-style-default,
    &.is-style-newdesign,
    &.is-style-simple {
        &.block-alignment-left {
            margin-right: auto;
            .recipe-card-summary,
            .recipe-card-ingredients,
            .recipe-card-directions,
            .recipe-card-video,
            .recipe-card-notes {
                text-align: left;
            }
            .recipe-card-directions {
                .directions-list > li {
                    img {
                        margin-right: auto;
                    }
                }
            }
        }
        &.block-alignment-center {
            margin-left: auto;
            margin-right: auto;
        }
        &.block-alignment-right {
            margin-left: auto;
            .recipe-card-image {
                figure figcaption {
                    text-align: right;
                }
            }
            .recipe-card-summary,
            .recipe-card-ingredients,
            .recipe-card-directions,
            .recipe-card-video,
            .recipe-card-notes {
                text-align: right;
            }
            .recipe-card-ingredients {
                .ingredients-list {
                    > li .tick-circle {
                        float: right;
                        margin: 6px 0 0 10px;
                    }
                    .ingredient-item-name {
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
            }
            .recipe-card-directions {
                .directions-list > li {
                    padding-left: 0;
                    padding-right: 40px;
                    &::before {
                        left: auto;
                        right: 0;
                        margin-right: 0;
                        margin-left: 20px;
                    }
                    img {
                        margin-left: auto;
                    }
                }
            }
            .recipe-card-notes {
                .recipe-card-notes-list {
                    >li {
                        &::before {
                            left: auto;
                            right: -6px;
                        }
                    }
                }
            }
        }
    }
    &.is-style-simple {
        &.block-alignment-center {
            .recipe-card-image {
                figure figcaption {
                    text-align: left;
                }
            }
        }
        &.block-alignment-left {
            .recipe-card-image {
                figure figcaption {
                    text-align: left;
                }
            }
        }
    }

    .recipe-card-heading {
        .recipe-card-author {
            margin-bottom: 10px;
        }
        .recipe-card-title + p {
            margin-bottom: 0;
        }

        @include clear-after;
    }
    .recipe-card-image {
        figure {
            img {
                width: 100%;
            }
            figcaption {
                padding: 0;
                margin: 0;
            }
        }
        .wpzoom-recipe-card-pinit {
            .btn-pinit-link {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .wpzoom-recipe-card-print-link {
            .btn-print-link {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .recipe-card-video {
        margin-top: 20px;
        margin-bottom: 20px;
        video {
            max-width: 100%;
        }
        [poster] {
            object-fit: cover;
        }
    }
    .recipe-card-details {
            margin-bottom: 15px;
            clear: both;
            .detail-item {
                > p:not(.detail-item-label):not(.detail-item-value):not(.detail-item-unit) {
                    display: none;
                }
                .detail-item-label {
                    margin-bottom: 5px;
                }
                .detail-item-unit {
                    margin-bottom: 0;
                }
            }
        }
    .recipe-card-ingredients {
        .ingredients-list {
            margin: 0;
            padding: 0;
            > li {
                padding-left: 0;
            }
            .ingredient-item-name {
                padding-left: 30px;
                margin: 0;
                vertical-align: middle;

                &.is-strikethrough-active:hover {
                    text-decoration: line-through;
                }
            }
        }
    }
    .hidden {
        display: none !important;
    }

    .recipe-card-directions + .footer-copyright {
        margin-top: 30px;
    }

    .recipe-card-directions .directions-list .direction-step-group {
        counter-reset: count;
        &::before {
            content: '';
            counter-increment: none;
        }
    }

    .direction-step {
        img {
            display: block;
            clear: both;
        }
    }

    .footer-copyright p {
        margin-bottom: 0;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ababab;

        a {
            color: #222222;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid #eee;

            &:hover {
                text-decoration: none;
                border-bottom-color: #ccc;
            }
        }
    }
}

@import "./skins/snippets";
@import "./skins/default";
@import "./skins/newdesign";
@import "./skins/simple";
