/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-wpzoom-recipe-card-block-details p.help,
.wp-block-wpzoom-recipe-card-block-details p.description {
	font-size: 13px !important;
	opacity: 0.7;
	width: 100%;
	clear: both;
	float: left;
	margin: 10px 0;
}

.wp-block-wpzoom-recipe-card-block-details p.help + p.help,
.wp-block-wpzoom-recipe-card-block-details p.description + p.description {
	margin-top: 0;
}

.wp-block-wpzoom-recipe-card-block-details {
	.placeholder {
		opacity: .5;
		pointer-events: none;
	}
	.details-title {
		float: none;
	}
	.detail-buttons {
		clear: both;
		width: 100%;
		text-align: center;
	}
	.detail-item-controls-container {
		position: absolute;
		top: 0px;
		left: -52px;
		padding: 2px;
		background-color: #fff;
		z-index: 10;
		border: 1px solid #e2e4e7;
		.detail-item-button {
			display: block;
		}
	}
	.detail-item .detail-item-value {
		padding: 0;
	}
}


.wpzoom-recipe-card-icon_kit {
	padding: 15px 0;
	margin-top: 10px;
	border-top: 1px solid #ededed;
	&::after {
		content: '';
		clear: both;
		display: table;
	}

	.wpzoom-recipe-card-icons__single-element {
		float: left;
		width: 8%;
		padding: 5px;
		margin: 1%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background-color: #f0f0f0;
		border-radius: 2px;
		cursor: pointer;
		&::before {
			margin: 0;
			font-size: 20px;
		}
		&:hover {
			box-shadow: inset 0 0 0 1px #e2e4e7, inset 0 0 0 2px #fff, 0 1px 1px rgba(25,30,35,.2);
			background-color: #fff;
			color: #191e23;
		}
		&.icon-element-active {
			box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff;
			background-color: #fff;
			color: #191e23;
		}
	}
}

