/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
#wpzoom-recipe-nutrition {
    @include clear-after;

    .wp-block-wpzoom-recipe-card-block-nutrition-information {
        @include clear-after;
    }

    &.layout-orientation-vertical {
        .wp-block-wpzoom-recipe-card-block-nutrition-information,
        .wp-block-wpzoom-recipe-card-block-nutrition {
            float: left;
            width: 50%;
            box-sizing: border-box;
        }
        .wp-block-wpzoom-recipe-card-block-nutrition-information {
            padding-right: 40px;

            > .components-base-control {
                float: left;
                width: 50%;
                padding-right: 20px;
                box-sizing: border-box;

                .components-base-control__label {
                    font-size: .7em;
                    letter-spacing: .03em;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1;
                }

                &:nth-child(2n+1) {
                    padding-right: 0;
                    clear: right;
                }
            }
        }
    }

    &.layout-orientation-horizontal {
        .wp-block-wpzoom-recipe-card-block-nutrition-information,
        .wp-block-wpzoom-recipe-card-block-nutrition {
            float: none;
            width: 100%;
            box-sizing: border-box;
        }
        .wp-block-wpzoom-recipe-card-block-nutrition-information {
            > .components-base-control {
                float: left;
                width: 25%;
                padding-right: 20px;
                box-sizing: border-box;

                &:nth-child(4n+1) {
                    padding-right: 0;
                    clear: right;
                }
            }
        }
    }
}