/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-wpzoom-recipe-card-block-ingredients p.help, 
.wp-block-wpzoom-recipe-card-block-ingredients p.description {
	font-size: 13px !important;
	margin-top: 0;
	opacity: 0.7;
}

.wp-block-wpzoom-recipe-card-block-ingredients {
	.ingredient-item {
		position: relative;
		list-style-type: none;

		.editor-rich-text {
			display: inline-block;
			width: 93%;
		}
		.ingredient-item-group-title {
			font-weight: bold;
		}
	}
	.ingredients-list > li {
		cursor: initial !important;

		.ingredient-item-name {
			&:hover {
			    text-decoration: none !important;
			}
		}
	}
	.ingredient-item-button-container {
		text-align: right;
		button {
			display: inline-flex;
		}
	}
	.ingredient-item-mover {
		position: absolute;
		top: 0;
		left: -29px;
	}
	.ingredient-buttons {
		text-align: center;
		button {
			display: inline-flex;
		}
	}
	.ingredient-buttons button.components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover,
	.ingredient-item-button-container button.components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
	    color: #191e23;
	    box-shadow: none
	}
	.ingredient-item-button-container button.ingredient-item-button-delete:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		color: #a00;
	}
	.ingredient-item-button-container button.components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover,
	.ingredient-buttons .components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
		background-color: #ece8c8;
	}

	.components-icon-button .dashicon + .components-icon-button-text {
		margin-left: 5px;
	}
}


#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-ingredients .wpzoom-recipe-card-print-link a {
	color: #a0a0a0;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-ingredients p {
	margin-bottom: 0;
}
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-ingredients ul,
#wpwrap .edit-post-visual-editor .wp-block-wpzoom-recipe-card-block-ingredients ol {
	margin: 0;
	padding: 0;
}
