.wp-block-wpzoom-recipe-card-block-recipe-card {

    &.is-style-default {
        padding: 20px 25px 30px;
        margin: 50px 0;
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 0px 15px rgba(0,0,0,0.1);
        border-radius: 5px 5px 0 0;

        .recipe-card-image {
            margin-top: -21px;
            margin-left: -26px;
            margin-right: -26px;
            margin-bottom: 20px;

            figure {
                position: relative;
                margin: 0;
                line-height: 0;
                
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    border-radius: 5px 5px 0 0;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;

                    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 35%);
                    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%);
                    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 35%);
                }
                figcaption {
                    position: absolute;
                    right: 20px;
                    left: 20px;
                    text-align: right;
                    bottom: 0;
                    padding-bottom: 10px;
                    z-index: 2;
                    line-height: 1.8;
                }
            }
            .wpzoom-recipe-card-print-link {
                display: inline-block;
                vertical-align: middle;

                .btn-print-link {
                    display: block;
                    border-radius: 3px;
                    padding: 10px;
                    font-style: normal;
                    text-decoration: none;
                    font-size: 12px;
                    line-height: 1.2;
                    color: $default-primary-text-color;
                    background-color: $default-primary-color;
                    border: none;
                    box-shadow: none;

                    .icon-print-link {
                        font-size: 18px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                    .icon-print-link + span {
                        vertical-align: middle;
                        font-size: 12px;
                        letter-spacing: 1.5px;
                    }
                }
            }
            .wpzoom-recipe-card-pinit {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;

                .btn-pinit-link {
                    cursor: pointer;
                    display: block;
                    border-radius: 3px;
                    height: 36px;
                    padding: 10px;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    border: none;
                    box-shadow: none;
                    background-color: #C62122;

                    .icon-pinit-link {
                        font-size: 18px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                    .icon-pinit-link + span {
                        vertical-align: middle;
                        font-size: 12px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .recipe-card-heading {
            margin-bottom: 15px;

            .recipe-card-title {
                @include recipe-title;
            }
            .recipe-card-author {
                @include recipe-author( $default-meta-color );
            }

            @include recipe-heading-metadata( $default-meta-color, $default-heading-color );
        }
        .details-items {
            font-size: 0;
            border-left: 1px dashed rgba(0,0,0,.1);
            border-top: 1px dashed rgba(0,0,0,.1);
            text-align: center;
            display: flex;
            flex-wrap: wrap;

            .detail-item {
                flex: 1 0 25%;
                padding: 10px 1.5%;
                position: relative;
                box-sizing: border-box;
                border-right: 1px dashed rgba(0,0,0,.1);
                border-bottom: 1px dashed rgba(0,0,0,.1);

                .detail-item-label {
                    font-weight: bold;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin: 0 5px 0 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                    line-height: 1.4;
                }

                .detail-item-icon {
                    opacity: .7;
                    margin: 0 auto;
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    color: $default-detail-icon-color;

                    .components-icon-button {
                        margin: 0 auto !important;
                    }
                }

                .detail-item-icon span {
                    color: $default-detail-icon-color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $default-detail-icon-color;
                }
            }
        }
        .recipe-card-summary {
            margin-bottom: 20px !important;
            font-size: 14px;
        }

        $selectors: 'ingredients-title', 'directions-title', 'video-title', 'notes-title';

        @include recipe-sections-title( $default-heading-color, uppercase, $selectors... );

        .directions-title {
            margin-bottom: 25px;
        }

        .recipe-card-ingredients {
            position: relative;
            color: $coffee;
            background-color: $coconut-cream;
            border-radius: 3px;
            margin: 0 0 30px;
            padding: 25px 25px 5px;
            text-align: left;
        }

        .ingredients-list {
            @include reset-list;

            > li {
                list-style: none;
                padding: 0 0 13px;
                margin: 0 0 13px;
                border-bottom: 1px solid #e9e5c9;
                position: relative;
                cursor: pointer;
                line-height: 1.7;

                &.ingredient-item-group {
                    cursor: initial;
                }

                &:last-child {
                    border-bottom: none;
                }

                @include clear-after;

                @include ingredient-tick( $default-tick-color, $default-ticked-color );
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 15px;

                &::before {
                    @include direction-counter;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    margin-bottom: 20px;
                    font-size: 14px;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .recipe-card-notes {
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px dashed rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

            .recipe-card-notes-list {
                @include recipe-notes-list( $coconut-cream, $coffee, $default-primary-color, $default-primary-text-color );
            }
        }
    }
}



@media screen and (max-width: 700px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card {
        &.is-style-default {
            .recipe-card-image {
                margin-bottom: 15px;
            }
            .recipe-card-heading .recipe-card-title {
                font-size: 24px;
            }
            .details-items  {
                flex-wrap: wrap;
                .detail-item {
                    min-width: 50%;
                    padding: 7px 1.5%;
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

}


@media screen and (max-width: 460px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-default .details-items .detail-item .detail-item-icon {
        display: none;
    }

}