.wp-block-wpzoom-recipe-card-block-recipe-card {

    &.is-style-newdesign {
        padding: 20px 30px 35px;
        margin: 50px 0;
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 0px 15px rgba(0,0,0,0.1);
        border-radius: 5px 5px 0 0;

        .recipe-card-image {
            margin-top: -21px;
            margin-left: -31px;
            margin-right: -31px;
            margin-bottom: 30px;

            figure {
                position: relative;
                margin: 0;
                line-height: 0;

                img {
                    max-width: 100%;
                   width: 100%;
                   height: auto;
                   margin: 0;
                   border-radius: 5px 5px 0 0;
                }
            }
            .wpzoom-recipe-card-print-link {
                position: absolute;
                right: 20px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;

                .btn-print-link {
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: $newdesign-primary-text-color;
                    line-height: 1.2;
                    background-color: $newdesign-primary-color;
                    box-shadow: 0 5px 40px $newdesign-primary-color;
                    border: none;

                    .icon-print-link {
                        margin: auto;
                        display: block;
                        font-size: 18px;
                    }
                    .icon-print-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
            .wpzoom-recipe-card-pinit {
                position: absolute;
                right: 90px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;

                .btn-pinit-link {
                    cursor: pointer;
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: #C62122;
                    box-shadow: 0 5px 40px #C62122;
                    outline: 0;

                    .icon-pinit-link {
                        margin: auto;
                        display: block;
                        font-size: 18px;
                    }
                    .icon-pinit-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .recipe-card-heading {
            margin-bottom: 15px;

            .recipe-card-title {
                @include recipe-title;
            }
            .recipe-card-author {
                @include recipe-author( $newdesign-meta-color, 0 0 15px, 0 0 15px );
            }

            @include recipe-heading-metadata( $newdesign-meta-color, $newdesign-heading-color );
        }
        .details-items {
            font-size: 0;
            border-left: 1px dashed rgba(0,0,0,.1);
            border-top: 1px dashed rgba(0,0,0,.1);
            text-align: center;
            display: flex;
            flex-wrap: wrap;

            .detail-item {
                flex: 1 0 25%;
                padding: 10px 1.5%;
                position: relative;
                box-sizing: border-box;
                border-right: 1px dashed rgba(0,0,0,.1);
                border-bottom: 1px dashed rgba(0,0,0,.1);

                .detail-item-label {
                    font-weight: bold;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                    line-height: 1.4;
                }
                .detail-item-icon {
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    margin: auto;
                    color: $newdesign-detail-icon-color;

                    span {
                        color: $newdesign-detail-icon-color;

                        &::before {
                            font-size: 16px;
                        }
                    }

                    svg {
                        fill: $newdesign-detail-icon-color;
                    }

                    .components-icon-button {
                        margin: 0 auto !important;
                    }
                }
            }
        }
        .recipe-card-summary {
            margin-bottom: 20px !important;
        }
        .recipe-card-ingredients {
            margin: 15px 0 30px;
            padding: 25px 0;
            border-top: 1px dashed rgba(0,0,0,.1);
            border-bottom: 1px dashed rgba(0,0,0,.1);
            position: relative;
            text-align: left;
        }

        $selectors: 'ingredients-title', 'directions-title', 'video-title', 'notes-title';

        @include recipe-sections-title( $newdesign-heading-color, uppercase, $selectors... );

        .ingredients-list {
            @include reset-list;

            > li {
                list-style: none;
                margin: 0 0 10px;
                position: relative;
                cursor: pointer;
                line-height: 1.7;

                &.ingredient-item-group {
                    cursor: initial;
                }

                @include clear-after;
                
                @include ingredient-tick( $newdesign-tick-color, $newdesign-ticked-color );
            }
            &.layout-2-columns {
                columns: 2;
                
                .ingredient-item-group {
                    column-span: all;
                }
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 30px;

                &::before {
                    @include direction-counter;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .recipe-card-notes {
            margin-top: 30px;
            margin-bottom: 30px;

            .recipe-card-notes-list {
                @include recipe-notes-list( #f5f5f5, inherit, $newdesign-primary-color, $newdesign-primary-text-color );
            }
        }
    }

}


@media screen and (max-width: 700px) {
    .wp-block-wpzoom-recipe-card-block-recipe-card {
        &.is-style-newdesign {
            .recipe-card-image {
                margin-bottom: 15px;
            }
            .recipe-card-heading .recipe-card-title {
                font-size: 24px;
            }
            .details-items .detail-item {
                min-width: 50%;
                padding: 7px 1.5%;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
            }
            .ingredients-list.layout-2-columns {
                columns: 1;
            }
        }
    }
}


@media screen and (max-width: 460px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .details-items .detail-item .detail-item-icon {
        display: none;
    }

}
