$primary_color: #FFA921;
$tick_color: $primary_color;
$detail_icon_color: #6d767f;
$ticked_color: #9AD093;
$meta_color: #5b5d61;
$heading_color: #222;

.wp-block-wpzoom-recipe-card-block-recipe-card {

    &.is-style-newdesign {
        padding: 20px 30px 35px;
        margin: 50px 0;
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 0px 15px rgba(0,0,0,0.1);
        border-radius: 5px 5px 0 0;

        .recipe-card-image {
            margin-top: -21px;
            margin-left: -31px;
            margin-right: -31px;
            margin-bottom: 30px;
            figure {
                position: relative;
                margin: 0;
                line-height: 0;
                img {
                    max-width: 100%;
                   width: 100%;
                   height: auto;
                   margin: 0;
                   border-radius: 5px 5px 0 0;
                }
            }
            .wpzoom-recipe-card-print-link {
                position: absolute;
                right: 20px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;
                .btn-print-link {
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: $primary_color;
                    box-shadow: 0 5px 40px $primary_color;
                    border: none;
                    .icon-print-link {
                        display: block;
                        font-size: 18px;
                    }
                    .icon-print-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
            .wpzoom-recipe-card-pinit {
                position: absolute;
                right: 90px;
                bottom: -26px;
                z-index: 2;
                line-height: 1.8;
                .btn-pinit-link {
                    cursor: pointer;
                    display: block;
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    padding: 10px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    background-color: #C62122;
                    box-shadow: 0 5px 40px #C62122;
                    outline: 0;
                    .icon-pinit-link {
                        display: block;
                        font-size: 18px;
                    }
                    .icon-pinit-link + span {
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
        .recipe-card-heading {
            margin-bottom: 15px;
            // padding-bottom: 15px;
            .recipe-card-title {
                font-size: 30px;
                margin: 0 0 10px;
                // color: $heading_color;
            }
            .recipe-card-author {
                display: block;
                color: $meta_color;
                font-size: 14px;
                font-weight: normal;
                font-style: italic;
                margin: 0 0 15px;
                padding: 0 0 15px;
                border-bottom: 1px dashed rgba(0,0,0,0.1);
            }

            .recipe-card-course, .recipe-card-cuisine, .recipe-card-difficulty {
                font-size: 14px;
                color: $meta_color;
                mark {
                    color: $heading_color;
                    font-weight: 600;
                    background: transparent;
                }
            }


            span:not(.recipe-card-author) + span:not(.recipe-card-author):before {
                content: " / ";
                color: #B6BABB;
                margin: 0 12px;
                font-style: normal;
                opacity: .5;
            }
        }
        .details-items {
            font-size: 0;
            border: 1px dashed rgba(0,0,0,.1);
            text-align: center;
            display: flex;

            .detail-item {
                flex: 1;
                padding: 10px 1.5%;
                position: relative;
                box-sizing: border-box;
                border-right: 1px dashed rgba(0,0,0,.1);
                // color: #333;

                .detail-item-label {
                    font-weight: bold;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                    line-height: 1.4;
                }
                .detail-item-icon {
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    margin: auto;
                    color: $detail_icon_color;
                }

                .detail-item-icon span {
                    color: $detail_icon_color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $detail_icon_color;
                }

                &:last-child::after {
                    display: none;
                }

                &:last-child {
                    border-right: 0;
                }
            }

            > div:nth-child(4) {
                margin-right: 0;
                padding-right: 0;
            }

            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }
        .recipe-card-summary {
            margin-bottom: 20px;
        }
        .recipe-card-ingredients {
            margin: 15px 0 30px;
            padding: 25px 0;
            border-top: 1px dashed rgba(0,0,0,.1);
            border-bottom: 1px dashed rgba(0,0,0,.1);
            position: relative;
            text-align: left;
        }

        .ingredients-title,
        .directions-title,
        .notes-title {
            font-size: 20px;
            font-weight: bold;
            color: $heading_color;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            margin: 0 0 15px;
        }


        .ingredients-list {
            margin: 0;
            padding: 0;
            list-style: none;
            > li {
                list-style: none;
                margin: 0 0 10px;
                position: relative;
                cursor: pointer;
                line-height: 1.7;

                &.ingredient-item-group {
                    cursor: initial;
                }

                &::after {
                    content: '';
                    clear: both;
                    display: table;
                }
                .ingredient-item-name {
                    margin: 0;
                    vertical-align: middle;

                    &:hover  {
                        text-decoration: line-through;
                    }

                }
                .tick-circle {
                    content: '';
                    float: left;
                    width: 18px;
                    height: 18px;
                    margin: 6px 10px 0 0;
                    border-radius: 50%;
                    border: 2px solid $tick_color;
                    cursor: pointer;
                    position: relative;
                }

                &.ticked > p {
                    text-decoration: line-through;
                }

                &.ticked .tick-circle {
                    border: 2px solid $primary_color !important;
                    background: $primary_color;

                    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
                    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
                    box-shadow: inset 0px 0px 0px 2px #fff;
                }
            }
            &.layout-2-columns {
                columns: 2;
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 30px;

                &::before {
                    counter-increment: count;
                    content: counter(count);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    color: #222;
                    font-family: "Roboto Condensed", sans-serif;
                    text-transform: uppercase;
                    line-height: 1.4;
                    width: 35px;
                    vertical-align: middle;
                    padding: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    margin-bottom: 20px;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .recipe-card-notes {
            margin-top: 30px;
            margin-bottom: 30px;

            .recipe-card-notes-list {
                padding: 0;
                margin: 0;
                list-style-type: none;

                > li {
                    background-color: #f5f5f5;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    position: relative;
                    list-style-type: none;
                    margin-bottom: 15px;
                    font-size: 14px;

                    &::before {
                        content: 'i';
                        position: absolute;
                        display: block;
                        background-color: $primary_color;
                        border-radius: 8px;
                        height: 16px;
                        width: 16px;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #fff;
                        left: -6px;
                        top: 25px;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: 700px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .recipe-card-heading .recipe-card-title {
        font-size: 24px;
    }


    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .details-items  {
        flex-wrap: wrap;
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .details-items .detail-item {
        min-width: 50%;
        padding: 7px 1.5%;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .recipe-card-image {
        margin-bottom: 15px;
    }

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .ingredients-list.layout-2-columns {
        columns: 1;
    }

}


@media screen and (max-width: 460px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card.is-style-newdesign .details-items .detail-item .detail-item-icon {
        display: none;
    }

}
