$primary_color: #222;
$tick_color: #d0d0d0;
$ticked_color: #9AD093;
$detail_icon_color: #6d767f;
$meta_color: #5b5d61;
$heading_color: #222;

.wp-block-wpzoom-recipe-card-block-recipe-card {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    &.is-style-simple {
        padding: 10px 10px 20px;
        margin: 50px 0;
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.1);

        .recipe-card-header-wrap {
            &::after {
                content: '';
                clear: both;
                display: table;
            }
            
            margin: -10px -10px 10px -10px;
            padding: 10px;
            background-color: #FBF9E7;
        }

        .recipe-card-image {
            float: left;
            width: 40%;
            figure {
                position: relative;
                margin: 0;
                line-height: 0;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
                figcaption {
                    margin-top: 10px;
                    line-height: 1.8;
                }
            }
            .wpzoom-recipe-card-print-link,
            .wpzoom-recipe-card-pinit {
                display: inline-block;
                vertical-align: middle;

                .btn-print-link,
                .btn-pinit-link {
                    display: block;
                    border-radius: 3px;
                    padding: 7px 10px;
                    font-style: normal;
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    line-height: 1.2;
                    border: none;
                    box-shadow: none;
                    cursor: pointer;

                    .icon-print-link,
                    .icon-pinit-link {
                        font-size: 18px;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                    .icon-print-link + span,
                    .icon-pinit-link + span {
                        font-size: 14px;
                    }
                }
                .btn-print-link {
                    background-color: $primary_color;
                }
                .btn-pinit-link {
                    background-color: #C62122;
                }
            }
            .wpzoom-recipe-card-pinit {
                margin-right: 10px;
            }
        }
        .recipe-card-along-image {
            float: right;
            width: 60%;
        }
        .recipe-card-heading {
            margin-bottom: 5px;
            margin-left: 15px;
            .recipe-card-title {
                font-size: 24px;
                margin: 0 0 10px;
                font-weight: 600;
                font-family: inherit;
            }
            .recipe-card-author {
                display: block;
                color: $meta_color;
                font-size: 14px;
                font-weight: normal;
                font-style: italic;
                margin: 0 0 6px;
                padding: 0 0 12px;
                border-bottom: 1px dashed rgba(0,0,0,0.1);
            }

            .recipe-card-course, .recipe-card-cuisine, .recipe-card-difficulty {
                font-size: 14px;
                color: $meta_color;
                display: inline-block;
                margin-bottom: 5px;
                mark {
                    color: $heading_color;
                    font-weight: 600;
                    background: transparent;
                    padding: 0;
                }
            }

            span:not(.recipe-card-author) + span:not(.recipe-card-author):before {
                content: "/";
                color: #B6BABB;
                margin: 0 6px;
                font-style: normal;
                opacity: .5;
            }

        }
        .recipe-card-details {
            margin-left: 15px;
            margin-bottom: 0;
            padding-top: 5px;
            border-top: 1px dashed rgba(0,0,0,.1);
        }
        .details-items {

            .detail-item {
                color: #333;

                .detail-item-label {
                    font-weight: bold;
                    margin-right: 5px;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: inline-block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin: 0 5px 0 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                    line-height: 1.4;
                }

                .detail-item-icon {
                    opacity: .7;
                    margin: 0;
                    margin-right: 10px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    color: $detail_icon_color;
                    display: inline-block;

                    .components-icon-button {
                        margin: 0 auto !important;
                    }
                }

                .detail-item-icon span {
                    color: $detail_icon_color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $detail_icon_color;
                }

            }
        }

        .recipe-card-summary {
            margin-bottom: 20px !important;
        }

        .ingredients-title,
        .directions-title,
        .notes-title {
            font-size: 22px;
            font-family: inherit;
            color: $heading_color;
            margin: 0 0 15px;
        }

        .directions-title {
            margin-bottom: 25px;
        }

        .recipe-card-ingredients {
            position: relative;
            margin: 0 0 30px;
            text-align: left;
        }

        .ingredients-list {
            margin: 0;
            padding: 0;
            list-style: none;

            > li {
                list-style: none;
                margin: 0 0 13px;
                position: relative;
                cursor: pointer;
                line-height: 1.6;

                &.ingredient-item-group {
                    cursor: initial;
                }

                &:last-child {
                    border-bottom: none;
                }

                &::after {
                    content: '';
                    clear: both;
                    display: table;
                }
                .ingredient-item-name {
                    display: inline;
                    margin: 0;
                    vertical-align: middle;

                    &:hover  {
                        text-decoration: line-through;
                    }

                }
                .tick-circle {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                    margin: 3px 10px 0 0;
                    border-radius: 50%;
                    border: 2px solid $tick_color;
                    cursor: pointer;
                    position: relative;
                }

                &.ticked > p {
                    text-decoration: line-through;
                }

                &.ticked .tick-circle {
                    border: 2px solid $ticked_color !important;
                    background: $ticked_color;

                    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
                    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
                    box-shadow: inset 0px 0px 0px 2px #fff;
                }
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                min-height: 44px;
                padding-left: 40px;
                margin: 0 0 15px;

                &.direction-step-group {
                    min-height: 0;
                    font-size: 18px;
                }

                &::before {
                    counter-increment: count;
                    content: counter(count);
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    color: #222;
                    font-family: inherit;
                    text-transform: uppercase;
                    line-height: 1.4;
                    width: 35px;
                    vertical-align: middle;
                    padding: 0;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    margin-right: 20px;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    margin-bottom: 20px;
                    font-size: 14px;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .recipe-card-notes {
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px dashed rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

            .recipe-card-notes-list {
                padding: 0;
                margin: 0;
                list-style-type: none;

                > li:empty {
                    display: none;
                }

                > li {
                    background-color: #FBF9E7;
                    color: #736458;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 25px;
                    padding-right: 25px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    position: relative;
                    list-style-type: none;
                    margin-bottom: 15px;
                    font-size: 14px;

                    &::before {
                        content: 'i';
                        position: absolute;
                        display: block;
                        background-color: $primary_color;
                        border-radius: 8px;
                        height: 16px;
                        width: 16px;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        color: #fff;
                        left: -6px;
                        top: 25px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card {
        &.is-style-simple {
            .recipe-card-image {
                margin-bottom: 15px;
                float: none;
                width: 100%;
            }
            .recipe-card-along-image {
                float: none;
                width: 100%;
            }
            .recipe-card-heading,
            .recipe-card-details {
                margin-left: 0;
            }
        }
    }

}
