.wp-block-wpzoom-recipe-card-block-recipe-card {

    &.is-style-simple {
        padding: 25px;
        border-radius: 10px;
        margin-top: 50px;
		margin-bottom: 50px;
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.1);

        .recipe-card-header-wrap {
            @include clear-after;
            margin: -26px -26px 25px -26px;
            padding: 25px;
            background-color: #FFF3E0;
            border-radius: 10px 10px 0 0;
        }

        &.header-content-align-right {
            .recipe-card-image {
                float: right;
                text-align: right;
            }
            .recipe-card-along-image {
                float: left;
                text-align: right;
            }
            .recipe-card-heading,
            .recipe-card-details {
                margin-right: 20px;
                margin-left: 0;
            }
            .details-items .detail-item {
                margin-right: 0;
                margin-left: 15px;
            }
        }

        .recipe-card-image {
            float: left;
            width: 40%;

            figure {
                position: relative;
                margin: 0;
                line-height: 0;

                img {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    border-radius: 8px;
                }
                figcaption {
                    margin-top: 10px;
                    line-height: 1.8;
                }
            }
            .wpzoom-recipe-card-pinit,
            .wpzoom-recipe-card-print-link {
                display: inline-block;
                vertical-align: middle;
            }
            .wpzoom-recipe-card-pinit {
                margin-right: $grid-unit-15;
                .btn-pinit-link {
                    display: block;
                    border-radius: 4px;
                    padding: $grid-unit $grid-unit-20;
                    font-style: normal;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    line-height: $default-line-height;
                    border: none;
                    box-shadow: none;
                    cursor: pointer;
                    background-color: #C62122;
                    transition: .2s ease opacity;

                    &:hover {
                        opacity:.8;
                    }
                    .wpzoom-rcb-icon-pinit-link {
                        display: inline-block;
                        margin-right: $grid-unit;
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        fill: #fff;
                    }
                    .wpzoom-rcb-pinit-icon {
                        font-size: $ultra-font-size;
                        margin-right: calc(#{ $grid-unit-15 / 2 });
                        vertical-align: middle;
                    }
                    .wpzoom-rcb-pinit-icon + span {
                        font-size: $small-font-size;
                        vertical-align: middle;
                    }
                }
            }
            .wpzoom-recipe-card-print-link {
                .btn-print-link {
                    display: block;
                    border-radius: 4px;
                    padding: $grid-unit $grid-unit-20;
                    font-style: normal;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    line-height: $default-line-height;
                    border: none;
                    box-shadow: none;
                    cursor: pointer;
                    color: $simple-primary-text-color;
                    background-color: $simple-primary-color;
                    transition: .2s ease opacity;

                    &:hover {
                        opacity:.8;
                    }
                    .wpzoom-rcb-icon-print-link {
                        display: inline-block;
                        margin-right: $grid-unit;
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                        fill: $simple-primary-text-color;
                    }
                    .wpzoom-rcb-print-icon {
                        font-size: $ultra-font-size;
                        margin-right: calc(#{ $grid-unit-15 / 2 });
                        vertical-align: middle;
                    }
                    .wpzoom-rcb-print-icon + span {
                        font-size: $small-font-size;
                        vertical-align: middle;
                    }
                }
            }
        }
        .recipe-card-along-image {
            float: right;
            width: 60%;
        }

        .recipe-card-heading {
            margin-bottom: 5px;
            margin-left: 20px;

            .recipe-card-title {
                @include recipe-title( 24px );
            }
            .recipe-card-author {
                @include recipe-author( $simple-meta-color, 0 0 6px, 0 0 12px );
            }

            @include recipe-heading-metadata( $simple-meta-color, $simple-heading-color );

            .recipe-card-course,
            .recipe-card-cuisine,
            .recipe-card-difficulty {
                font-size: 14px;
                color: $simple-meta-color;
                display: inline-block;
                margin-bottom: 5px;

                mark {
                    color: $simple-heading-color;
                    font-weight: 600;
                    background: transparent;
                    padding: 0;
                }
            }

            span:not(.recipe-card-author) + span:not(.recipe-card-author):before {
                @include heading-meta-delimiter;
            }

        }
        .recipe-card-details {
            margin-left: 20px;
            margin-bottom: 0;
            padding-top: 5px;
            border-top: 1px dashed rgba(0,0,0,.1);
        }
        .details-items {

            .detail-item {
                color: #333;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;

                .detail-item-label {
                    font-weight: bold;
                    margin-right: 5px;
                }
                .detail-item-label, .detail-item-value, .detail-item-unit {
                    font-size: 14px;
                }
                .detail-item-icon, .detail-item-label {
                    display: inline-block;
                }
                .detail-item-value {
                    font-weight: 500;
                    margin: 0 5px 0 0;
                }
                .detail-item-value, .detail-item-unit {
                    display: inline-block;
                    line-height: 1.4;
                }

                .detail-item-icon {
                    opacity: .7;
                    margin: 0;
                    margin-right: 10px;
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    color: $simple-detail-icon-color;
                    display: inline-block;

                    .components-icon-button {
                        margin: 0 auto !important;
                    }
                }

                .detail-item-icon span {
                    color: $simple-detail-icon-color;

                    &::before {
                        font-size: 16px;
                    }
                }
                .detail-item-icon svg {
                    fill: $simple-detail-icon-color;
                }

            }
        }

        .recipe-card-summary {
            margin-bottom: 20px !important;
        }

        $selectors: 'ingredients-title', 'directions-title', 'video-title', 'notes-title';

        @include recipe-sections-title( $simple-heading-color, uppercase, $selectors... );


        .recipe-card-ingredients {
            position: relative;
            margin: 0 0 30px;
            text-align: left;
        }

        .ingredients-list {
            @include reset-list;

            > li {
                list-style: none;
                margin: 0 0 13px;
                position: relative;
                // cursor: pointer;
                line-height: 1.6;

                &.ingredient-item-group {
                    cursor: initial;
                }

                &:last-child {
                    border-bottom: none;
                }

                @include clear-after;
                @include ingredient-tick( $simple-tick-color, $simple-ticked-color );
            }
        }

        .directions-list {
            counter-reset: count;
            line-height: normal;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                position: relative;
                line-height: 1.8;
                list-style: none;
                padding-left: 40px;
                margin: 0 0 $grid-unit-20;

                &.direction-step-group {
                    min-height: 0;
                    font-size: 18px;
                }

                &::before {
                    @include direction-counter;
                }

                &:last-child {
                    margin: 0;
                }
                .direction-step-text {
                    margin-bottom: 20px;
                    font-size: 14px;
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                &:last-child .direction-step-text {
                    margin-bottom: 0;
                }
            }

        }

        .direction-step img {
            margin: 10px 0;
            max-width: 100%;
            height: auto;
            display: block;
        }

        .recipe-card-notes {
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px dashed rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;

            .recipe-card-notes-list,
            ul {
                @include recipe-notes-list( #FFF3E0, $coffee, $simple-primary-color, $simple-primary-text-color );
            }
        }

        &.recipe-card-noimage {
            .recipe-card-image-preview,
            .recipe-card-image {
                display: none;
            }
            .recipe-card-along-image {
                float: none;
                width: 100%;
            }
            .recipe-card-heading,
            .recipe-card-details {
                margin-left: 0;
            }
        }
    }
}



@media screen and (max-width: 768px) {

    .wp-block-wpzoom-recipe-card-block-recipe-card {
        &.is-style-simple {
            .recipe-card-image {
                margin-bottom: 15px;
                float: none;
                width: 100%;
            }
            .recipe-card-along-image {
                float: none;
                width: 100%;
            }
            .recipe-card-heading,
            .recipe-card-details {
                margin-left: 0;
            }
        }
    }

}
