.wpzoom-recipe-card-buttons {
    text-align: center;
}

.wpzoom-recipe-card-buttons a.wpzoom-recipe-snippet-button {
    display: inline-block;
    border-radius: 3px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding: 10px;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    background-color: #222222;
    border: none;
    box-shadow: none;
    margin-right: 10px;
    margin-bottom: 15px;
    &:hover {
        color: #fff;
        background-color: #444;
    }
}