/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors
$white: #ffffff;
$dark-gray: #222222;
$coffee: #736458;
$coconut-cream: #FBF9E7;
$silver-sand: #B6BABB;
$de-york: #9AD093;
$pale-sky: #6d767f;
$mid-gray: #5b5d61;

// Typography
$google-font-family: "Roboto Condensed", sans-serif;

/**
 * @style: Default
*/
$default-primary-color: $dark-gray;
$default-primary-text-color: $white;
$default-tick-color: #DEDAB6;
$default-ticked-color: $de-york;
$default-detail-icon-color: $pale-sky;
$default-meta-color: $mid-gray;
$default-heading-color: $dark-gray;

/**
 * @style: Newdesign
*/
$newdesign-primary-color: #FFA921;
$newdesign-primary-text-color: $white;
$newdesign-tick-color: $newdesign-primary-color;
$newdesign-ticked-color: $de-york;
$newdesign-detail-icon-color: $pale-sky;
$newdesign-meta-color: $mid-gray;
$newdesign-heading-color: $dark-gray;

/**
 * @style: Simple
*/
$simple-primary-color: $dark-gray;
$simple-primary-text-color: $white;
$simple-tick-color: #d0d0d0;
$simple-ticked-color: $de-york;
$simple-detail-icon-color: $pale-sky;
$simple-meta-color: $mid-gray;
$simple-heading-color: $dark-gray;

@import './__mixins.scss';
